
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;

}
a {
  text-decoration: none;
  color: inherit;
}
.app {
  min-height: 100vh;
  color: #d9d9d9;
  background: linear-gradient(#000000, #0b1628, #000000), 
  repeating-linear-gradient(-45deg, #000 0px, #000 5px, #333 6px, #333 11px, #000 12px);




}
